.about{
    background: #E00A0B;
    color:#FFFFFF;
    overflow-y: hidden;
    padding: 2rem 5rem;
}

.section-title{
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
    padding-bottom: 2rem;
}

.section-title span{
    color: #FFFFFF;
}

.section-content{
    display: flex;
    justify-content: space-evenly;
    column-gap: 5rem;
}

.section-img{
    background:#000000;
    height: 100%;
}
.section-img img{
    position: relative;
    left: 12px;
    top: 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.section-information{
    padding-top: 1rem;
}

.section-information h2{
    padding: 1rem 0;
}


.section-information p{
    color: #040404;
}

.info-grid{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    padding-bottom: 2rem;
}
.info-grid  span{
    font-weight: 600;
}
.info-grid p{
    padding: 0.75rem 0;
}

.info-grid i{
    color: #1F0404;
    padding-right: 1rem;
    font-size: 1.25rem;
}

.about-btn{
    color: #FFFFFF;
    border: solid 2px #1F0404;
    margin-right: auto;
    padding: 0.5rem 0.75rem;
}

@media screen and (max-width: 1200px) {
    .section-img{
        margin-top: 5rem;
    }
    .info-grid{
        grid-column-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .section-content{
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 865px) {
    .section-content{
        display: block;
    }

    .section-img{
        background:#FF0000;
        height: 100%;
    }
    .section-img img{
        position: relative;
        width: 100%;
        left: 12px;
        top: 12px;
        box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.5);
    }

    .info-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .about{
        padding: 1rem 3rem;
        overflow: hidden;
    }

    .section-img{
        margin-top: 1rem;
    }

    .info-grid{
        grid-column-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}