.testimonials .section-title h2{
    color: #FF0000;
}

.testimonials-container {
    color: #F5F5F5;
    display: flex;
    width: 100%;
}

.testimonials-card {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}

.testimonials-card .text{
    display: flex;
}

.testimonial-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimonial-name {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.testimonial-description {
    font-size: 0.875rem;
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: #FF0000 !important;
}

.swiper-pagination-bullet-active {
    background-color: #FF0000 !important;
}

@media screen and (max-width: 992px) {
    .testimonials-container {
        width: initial;
    }

    .testimonials-card {
        padding: 1.25rem 1.5rem;
    }
}