@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
  background: #FFF;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #FFFFFF;
}

button{
  border: none;
  outline: none;
}

input{
  border: none;
  outline: none;
}

section{
  padding: 2rem 8rem;
}
.section-title{
    font-size: 1.25rem;
    color: #000000;
    text-align: center;
}
.section-title h2{
    font-weight: 400;
}
.section-title h2::before{
    display: flex;
    width: 200px;
    height: 1px;
    content: "";
    background-color: #000000;
    position: relative;
    top: 1.25rem;
    right: 13rem;
    margin: auto;
}

.section-title h2::after{
    display: flex;
    width: 200px;
    height: 1px;
    content: "";
    background-color: #000000;
    position: relative;
    bottom: 1.05rem;
    left: 13rem;
    margin: auto;
}

@media screen and (max-width: 1024px) {
  .App{
    width: 100%;
  }
}